.CurrencySelector {
  border: 3px solid lightgray;
  border-radius: 10px;
  display: flex;
  width: 300px;
  height: 60px;
  overflow: hidden;

  input {
    flex: 2;
    flex-grow: 2;
    border: none;
    border-right: 3px solid lightgray;
    outline: none;
    text-align: right;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    font-size: 1.65rem;
    width: 100%;
    padding: 10px 10px 13px 10px;
    font-family: 'Madimi One', sans-serif;
  }

  select {
    flex: 1;
    border: none;
    outline: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    font-family: 'Madimi One', sans-serif;
    appearance: none;
    background-image: url(/src/assets/svg/arrows.svg);
    background-repeat: no-repeat;
    background-position: right 0.6rem top 50%;
    background-size: 0.8rem auto;
  }
}
