@import url('https://fonts.googleapis.com/css2?family=Madimi+One&display=swap');

* {
  margin: 0;
  padding: 0;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
